# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
debug/
# node.js
#
node_modules/
npm-debug.log
yarn-error.log
#android buyer
android/build
android/buyer/release
android/buyer/debug
android/buyer/build

#android vendor
android/build
android/vendor/release
android/vendor/debug
android/vendor/build

#android driver
android/build
android/driver/release
android/driver/debug
android/driver/build
# BUCK
buck-out/
\.buckd/
*.keystore
ios/Pods

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots

# Bundle artifact
*.jsbundle
